<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733430878462-p409ml1j6feln5rgs8ald7p8cja2t5mr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733430878462-p409ml1j6feln5rgs8ald7p8cja2t5mr</string>
	<key>API_KEY</key>
	<string>AIzaSyDrIcHiP0r6r0EVxrqNO8qYEgawh941Iy0</string>
	<key>GCM_SENDER_ID</key>
	<string>733430878462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RPSGame</string>
	<key>PROJECT_ID</key>
	<string>rpsgame-2b981</string>
	<key>STORAGE_BUCKET</key>
	<string>rpsgame-2b981.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733430878462:ios:f3f839bf1994bf3373d5af</string>
</dict>
</plist>